{% extends "layout.html" %}
{% block title %}Main Page{% endblock %}

{% block content %}
<!-- twig: content  -->
<div class="section main-top">
    <div class="container">
        <div class="row">
            <div class="one-half column">
                <h4 class="hero-heading">Main Page Left</h4>
                <a class="button button-primary" href="#">I'm a button</a>
            </div>
            <div class="one-half column descriptor">
                Toss an image over here
            </div>
        </div>
    </div>
</div>

<!-- twig: /content  -->
{% endblock %}