{% extends "layout.html" %}
{% block title %}Main Page{% endblock %}

{% block content %}
<!-- twig: content  -->
<section class="header">
    <h2 class="title">PHP BareBones</h2>
    <a class="button button-primary" href="#">A Link Example</a>
</section>

<div class="navbar-spacer"></div>
{% include 'navigation.html' %}
<div class="example-section">
    <div class="row">
        <div class="four columns">Four Cols</div>
        <div class="eight columns">Eight Cols</div>
    </div>
</div>

<!-- twig: /content  -->
{% endblock %}